/* http://meyerweb.com/eric/tools/css/reset/, v2.0 | 20110126, License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* my code starts here */

html {
  height: 100%;
}

body {
  font: medium 'Open Sans', sans-serif;
  background: url(agsquare.png);
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
}

ol {
    margin: 1em 0 0 25px;
}

.site-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #333;
  color: #FFF229;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.site-header a {
  color: #FFF229;
  letter-spacing: 5px;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
}

#main-menu{ 
    margin: 0; 
    list-style: none;
    background: #333;
    border-top: 1px solid #FFF229
}        

#main-menu:after {
    content:"";
    display:table;
    clear:both;
}

#main-menu li {
    float: left;
    width: 33%;
}

#main-menu a {    
    padding: 15px 20px;
    text-align: center;
    display: block;
    box-sizing: border-box;
    border-right: 1px solid #FFF229;
}

#main-menu li:last-child a {
  border-right: none;
}

#menu{
  position: fixed;
  width: 200px;
  left: 50%;
  margin: 2em 0 0 -550px;  
  list-style: none;
  background: #333;
}

#menu a {
  padding: 15px 20px;
  display: block;
  border-bottom: 1px solid #FFF229;
}

#menu a, #main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF229;
  transition-duration: 0.2s;
}

#menu li:last-child a {
  border-bottom: none;
}

#menu a:hover, #main-menu a:hover {
  background: #444;
  /* background: linear-gradient(to bottom, #8e44ad 0%,#9b59b6 100%); */
}

#content {
  margin: 0 auto;
  padding: 2em 2em;
  max-width: 600px;
  background: rgba(255,255,255,0.3);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  min-height: 100%;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  margin: 0 0 1em 0;
}

h2 {
  font-weight: bold;
  margin: 1em 0 0.7em 0;
}

ul {
  margin: 0.5em 0 2em;
  list-style-position: inside;
}

p {
  margin: 0.5em 0 2em;
}

a:hover {
  text-decoration: none;
}
  
.info-table, .program-table {
  width: 100%;
  border-collapse:collapse;
  border-spacing:0;
  border-color:#8e44ad;
  border-width:1px;
  border-style:solid;
}
  
.info-table td:first-child,.program-table th {
  text-transform: uppercase;
  font-size:medium;
  font-weight:normal;
  padding:10px 15px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#444;
  color:#fff229;
  background-color:#333;
}
  
.info-table td, .program-table td {
  font-size:medium;
  padding:10px 15px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#444;
  color:#333;
}
  
img {
    display: inline;
    border: 1px solid rgba(255,255,255,0.3);
}

a:hover img {
    border:1px solid #444;
}

.program-table td:last-child {
  text-align:center;
}

.posterhref {
  padding: 15px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF229;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #333;
  display: block;
  text-align: right;
  font-size: small;
  letter-spacing: 1px;
  padding: 15px 20px;
  text-decoration: none;
}

.site-footer a {
  color: #FFF229;
  text-decoration: underline;
}

@media (max-width: 1103px) {
  #menu {
    display: none;
  }
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
	.site-footer {
    display: none;
  }
}

